body {
    background-color: #EEEEEE;
}

.todolist {
    background-color: #FFF;
    padding: 20px 20px 10px 20px;
    width: 600px;
    margin: 30px auto;
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
}

.todolist h1 {
    margin: 0;
    padding-bottom: 20px;
    text-align: center;
}

.form-control {
    border-radius: 0;
}

.form-control.add-todo {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.14);
    box-shadow: 4px 4px 11px 0px rgba(0, 0, 0, 0.14);
    border-radius: 5px;
    margin-bottom: 2vh;
}

li.ui-state-default {
    background: #fff;
    border: none;
    border-bottom: 1px solid #ddd;
    height: 50px;
}

li.ui-state-default:last-child {
    border-bottom: none;
}

li.completed label {
    text-decoration: line-through;
    color: #aaa;
}

.todo-footer {
    border-top: 1px solid #ddd;
    background-color: #F4FCE8;
    margin: 0 -20px -10px -20px;
    padding: 10px 20px;
}

.mark-all-done {
    margin-top: 10px;
}

.delete {
    cursor: pointer;
}

footer {
    border-top: 1px solid #ddd;
    background-color:#007bff;;
    margin: 0 -20px -10px -20px;
    padding: 12px 20px;
    position: relative;
    color: white;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters li {
    display: inline-block;
}

.filters li button {
    cursor: pointer;
    color: inherit;
    margin: 3px;
    padding: 4px 8px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: #007bff;
    border-color: white;
}

.filters li button.selected, .filters li button:hover {
    border-color: red;
}

.filters li button.selected {
    border-color: red;
    color: white;
}